.hollywoodContainer {
    width: 1268px;
    height: 243px;
    margin: -19px auto 0px -5px;
    padding-left: 30px;
    overflow: auto;
    display: flex;
    overflow-y: hidden;
}

.hollywoodContainer::-webkit-scrollbar {
    display: none;
}

.hollywood {
    border-radius: 10px;
    height: 165px;
    width: auto;
    padding: 0px 5px 0px 5px;
    transition: 1s;
    margin-top: 40px;
}

.hollywood:hover {
    cursor: pointer;
    z-index: 2;
}